<!--
  NOTE: This file only has meaning in the application's execution directory, not the class directory.
  It has been added here for reference and convenience.
-->
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CompuChip" value="Alice.CompuChipDesign"/>
    <add key="OP" value="Alice.OPDesign"/>
    <add key="RegularExpression" value="Alice.RegularExpressionDesign"/>
  </appSettings>
</configuration>
